body {
  font-family: Arial, Helvetica, sans-serif;
}
.window-title {
  padding:4px;
  margin:0;
  font-size: 1.1em;
  font-weight:bold;
  background-color: #000;
}
.window-box {
  width: 300px;
  height: 300px;
  background-color: yellow;
  color: #fff;
  border: 1px solid black;
}
.window-text {
  padding-top: 5px;
  text-align:center;
  color: blue;
}